@(bookItem: book.Book)(implicit req: request.ProcessedRequest)

@menu("details") {
    <h1>@bookItem.title</h1>

    <div class="col_6">
        <a href="@book.routes.BookController.readGET(bookItem.id)"><div class="big-cover"><img src="@book.routes.BookController.coverGET(bookItem.id)" /></div></a>
    </div>
    <div class="col_6"><b>Filename:</b> @bookItem.filename<div>
    <a href="@book.routes.BookController.readGET(bookItem.id)" class="button large green"><i class="icon-book"></i> Read book</a>
}