@()(implicit req: request.ProcessedRequest)

@menu("list") {
    <div id="dropZoneBorder">
        <div id="dropZone">
            Drop books here!
        </div>
    </div>

    <div class="cover">
        @book.BookStore.all(req.user.email).map { bookItem =>
            <a href="@book.routes.BookController.readGET(bookItem.id)"><img src="@book.routes.BookController.coverGET(bookItem.id)" /></a>
        }
    </div>

    @helper.javascriptRouter("jsRoutes")(
        book.routes.javascript.BookController.uploadPOST
    )
}