#login {
  width: 300px;
  margin: 0 auto;
}

#dropZoneBorder {
  border: 1px solid #ececec;
  border-radius: 5px;

  #dropZone {
    background-color: pink;
    margin: 4px;
    padding: 20px 0;
    text-align: center;
  }
}