@import url(http://fonts.googleapis.com/css?family=Lobster);

@green: #46bd51;

body {
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
}

#login {
  width: 300px;
  margin: 0 auto;
}

#dropZoneBorder {
  background-color: #fff;
  margin: 10px auto;
  width: 500px;
  border: 1px solid #ececec;
  border-radius: 5px;

  #dropZone {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    color: #fff;
    background-color: @green;
    margin: 4px;
    padding: 30px 50px;
    text-align: center;

    &.hover {
      background-color: #3eae49;
    }
  }
}

#page {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.change-page {
  position: absolute;
  top: 40%;

  button {
    height: 70px;
  }

  &.left {
    left: 5px;
  }

  &.right {
    right: 5px;
  }
}

.menu {
  text-align: center;

  a {
    font-family: 'Lobster', cursive;
    font-size: 28px !important;
  }
}

#menu-hide {
  #menu-small {
    display: inline-block;
    top: 5px;
    left: 5px;
  }

  #menu-full {
    display: none;
  }
}

.big-cover {
  img {
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 5px;
    width: 100%;

    &:hover {
      background-color: #ddffd3;
    }
  }
}

.cover {
  text-align: center;

  img {
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 5px;
    height: 300px;
    width: 225px;
    margin: 10px 10px 10px 0;

    &:hover {
      background-color: @green;
    }
  }
}

.book {
  @height: 300px;
  @width: 225px;

  border: 1px solid #ececec;
  border-radius: 5px;
  width: @width;
  height: @height;
}