@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Comic Baker</title>
        @* jQuery CDN *@
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        @* jQuery Mobile *@
        <script src="@routes.Assets.versioned("jquery.mobile.custom/jquery.mobile.custom.min.js")"></script>

        @* KickStart HTML *@
        <link rel="stylesheet" href="@routes.Assets.versioned("HTML-KickStart-master/css/kickstart.css")" media="all" />
        <script src="@routes.Assets.versioned("HTML-KickStart-master/js/kickstart.js")"></script>

        @* Comic Baker *@
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" media="all" />
    </head>
    <body>
        @content
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>